version = "2"

[linters]
default = "all"
disable = [
  # objectively gross, literally nobody wants this
  "exhaustruct",

  # requires explicit configuration
  "depguard",

  # deprecated
  "wsl",
]

[formatters]
enable = [
  "gofmt",
  "goimports"
]
