name: go
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v6

    - name: Setup go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Run tests
      run: |
        mkdir -p coverage
        go test -race -coverpkg=./... -covermode=atomic -coverprofile coverage/cover.out -v ./...
        go tool cover -html=coverage/cover.out -o coverage/index.html

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage/cover.out

  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v6

    - name: Setup go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Lint code
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.7.1
